<%= content_for :title do 'Phase List' end %>

<div class="hero-unit">
  <% @phases.each do |phase| %>
    <h3><%= link_to phase.name, phase_path(phase) %></h3>
    <%= render :partial => 'phase', :locals => { :phase => phase } %>
  <% end %>

  <% if admin? %>
    <%= link_to 'New Phase', new_phase_path, :class => :btn %>
  <% end %>
</div>