<div class="row">
  <div class="span4">
    <%= render 'team_stats',  :team           => @match.home.team,
                              :match          => @match,
                              :participation  => @match.home,
                              :athletes_stats => @match.home_athletes_stats %>
  </div>

  <div class="span4">
    <%= render 'team_stats',  :team           => @match.away.team,
                              :match          => @match,
                              :participation  => @match.away,
                              :athletes_stats => @match.away_athletes_stats %>
  </div>
</div>