<div class="row">
  <div class="span4">
    <%= render :partial => 'team_stats', :locals => { :team => @match.home_team } %>
  </div>

  <div class="span4">
    <%= render :partial => 'team_stats', :locals => { :team => @match.away_team } %>
  </div>
</div>