<nav class="span3 bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav">
    <li><%= sidebar_link 'Teams', teams_path %></li>
    <li><%= sidebar_link 'Group Stage', groups_path %></li>
    <li><%= sidebar_link 'Matches', matches_path %></li>
    <li><%= sidebar_link 'Athletes', athletes_path %></li>
  </ul>
</nav>