/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require play_futsal/bootstrap
 *= require play_futsal/bootstrap-responsive
 *= require play_futsal/bs-docs-sidebar
 *= require_tree .
 *= require_self
*/  

.goal{
  font-weight:bold;
  background: url("/assets/play_futsal/icon-goal.png");
  background-repeat:no-repeat;
  display:block;
  padding-top:12px;
  padding-bottom:3px;
}

.yellowcard{
  font-weight:bold;
  background: url("/assets/play_futsal/icon-yellowcard.png");
  background-repeat:no-repeat;
  display:block;
  padding-top:12px;
  padding-bottom:3px;
}

.redcard{
  font-weight:bold;
  background: url("/assets/play_futsal/icon-redcard.png");
  background-repeat:no-repeat;
  display:block;
  padding-top:12px;
  padding-bottom:3px;
}