<% content_for :title do 'Teams' end %>

<div class="well">
  <%= render :partial => 'play_futsal/teams/table' %>

  <% if admin? %>
    <div class="actions">
      <%= link_to 'New Team', new_team_path, :class => 'btn' %>
    </div>
  <% end %>
</div>
