%h1 Show Team
%p#notice
	= notice

%table
	%tr
		%td
			%b Name
		%td
			= @team.name
	%tr
		%td
			%b Federation
		%td
			-# = @team.Federation.name

-#= link_to 'Edit', edit_team_path @team
-#= link_to 'Delete', destroy_team_path @team
= link_to 'Back', teams_path 