<table class="table">
  <thead>
    <tr>
      <th>Team</th>
      <th>Games</th>
      <th>Goals</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% group.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.matches.in_group.finished.count %></td>
        <td><%= team.goals %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
