<%= content_for :title do 'Group List' end %>

<div class="hero-unit">
  <%= render :partial => 'table', :locals => { :groups => @groups } %>

  <% if admin? %>
    <%= link_to 'New Group', new_group_path, :class => :btn %>
  <% end %>
</div>