<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><div class="goal"</div></th>
      <th><div class="yellowcard"></div></th>
      <th><div class="redcard"></div></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Total</th>
      <th><%= @athlete.goals %></th>
    </tr>

    <% @athlete.athlete_stats.each do |stat| %>
      <tr>
        <td><%= stat.match.desc %></td>
        <td><%= stat.goals %></td>
      </tr>
    <% end %>
  </tbody>
</table>